<div th:fragment="common_js" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{metronic/pages/js/common.js}"/>
    <script th:src="@{metronic/pages/jquery/jquery-3.2.1.min.js}"/>
    <script th:src="@{metronic/global/plugins/jquery.min.js}"/>
    <script th:src="@{metronic/global/plugins/bootstrap/js/bootstrap.min.js}"/>
    <script th:src="@{metronic/global/plugins/js.cookie.min.js}"/>
    <script th:src="@{metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"/>
    <script th:src="@{metronic/global/plugins/jquery.blockui.min.js}"/>
    <script th:src="@{metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"/>

    <script th:src="@{metronic/global/plugins/moment.min.js}"/>
    <script th:src="@{metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js}"/>
    <script th:src="@{metronic/global/plugins/morris/morris.min.js}"/>
    <script th:src="@{metronic/global/plugins/morris/raphael-min.js}"/>
    <script th:src="@{metronic/global/plugins/counterup/jquery.waypoints.min.js}"/>
    <script th:src="@{metronic/global/plugins/counterup/jquery.counterup.min.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/amcharts.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/serial.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/pie.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/radar.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/themes/light.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/themes/patterns.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amcharts/themes/chalk.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/ammap/ammap.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/ammap/maps/js/worldLow.js}"/>
    <script th:src="@{metronic/global/plugins/amcharts/amstockcharts/amstock.js}"/>
    <script th:src="@{metronic/global/plugins/fullcalendar/fullcalendar.min.js}"/>
    <script th:src="@{metronic/global/plugins/horizontal-timeline/horizontal-timeline.js}"/>
    <script th:src="@{metronic/global/plugins/flot/jquery.flot.min.js}"/>
    <script th:src="@{metronic/global/plugins/flot/jquery.flot.resize.min.js}"/>
    <script th:src="@{metronic/global/plugins/flot/jquery.flot.categories.min.js}"/>
    <script th:src="@{metronic/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js}"/>
    <script th:src="@{metronic/global/plugins/jquery.sparkline.min.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/jquery.vmap.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js}"/>
    <script th:src="@{metronic/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js}"/>

    <script th:src="@{metronic/global/scripts/app.min.js}"/>

    <script th:src="@{metronic/pages/scripts/dashboard.min.js}"/>

    <script th:src="@{metronic/layouts/layout/scripts/layout.min.js}"/>
    <script th:src="@{metronic/layouts/layout/scripts/demo.min.js}"/>
    <script th:src="@{metronic/layouts/global/scripts/quick-sidebar.min.js}"/>
    <script th:src="@{metronic/layouts/global/scripts/quick-nav.min.js}"/>
</div>