<div class="page-sidebar navbar-collapse collapse" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="page-sidebar-menu  page-header-fixed "
        data-keep-expanded="false" data-auto-scroll="true"
        data-slide-speed="200" style="padding-top: 20px">
        <li class="sidebar-toggler-wrapper hide">
            <div class="sidebar-toggler">
                <span></span>
            </div>
        </li>

        <li id="device" class="nav-item ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">控制中心</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="device-comment" class="nav-item">
                    <a href="###" class="nav-link" onclick="showAtRight('/boleiot/home')">
                        <i class="icon-bar-chart"></i>
                        <span class="title">设备概况</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="device-manager" class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">设备管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="device-query" class="nav-item">
                    <a href="###" class="nav-link " onclick="showAtRight('/boleiot/terminal_list')">
                        <span class="title">设备列表</span>
                    </a>
                </li>
                <li id="device-add" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/boleiot/add_terminal')">
                        <span class="title">创建设备</span>
                    </a>
                </li>
                <li id="device-group" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="">
                        <span class="title">透传分组</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="user-center" class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">账户中心</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="user-info" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/boleiot/terminal_chat')">
                        <span class="title">个人信息</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>