<div class="page-sidebar navbar-collapse collapse" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="page-sidebar-menu  page-header-fixed "
        data-keep-expanded="false" data-auto-scroll="true"
        data-slide-speed="200" style="padding-top: 20px">
        <li class="sidebar-toggler-wrapper hide">
            <div class="sidebar-toggler">
                <span></span>
            </div>
        </li>
        <li class="sidebar-search-wrapper">
            <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
					<a href="javascript:;" class="btn submit"> 
						<i class="icon-magnifier"></i>
					</a>
					</span>
                </div>
            </form>
        </li>
        <li id="user-manager" class="nav-item ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">用户管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="user-query" class="nav-item">
                    <a href="@{fragments/add_terminal.html}" class="nav-link">
                        <i class="icon-bar-chart"></i>
                        <span class="title">用户查询</span>
                    </a>
                </li>
                <li id="user-add" class="nav-item ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_userAdd')">
                        <i class="icon-bulb"></i>
                        <span class="title">添加用户</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="dept-manager" class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">部门管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="dept-query" class="nav-item">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_departmentQuery')">
                        <span class="title">部门查询</span>
                    </a>
                </li>
                <li id="dept-add" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_departmentAdd')">
                        <span class="title">添加部门</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="job-manager" class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">职位管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="job-query" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_jobQuery')">
                        <span class="title">职位查询</span>
                    </a>
                </li>
                <li id="job-add" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_jobAdd')">
                        <span class="title">添加职位</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="employee-manager" class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">员工管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="employee-query" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_employeeQuery')">
                        <span class="title">员工查询</span>
                    </a>
                </li>
                <li id="employee-add" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_employeeAdd')">
                        <span class="title">添加员工</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="notice-manager" class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bulb"></i>
                <span class="title">公告管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="notice-query" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_noticeQuery')">
                        <span class="title">公告查询</span>
                    </a>
                </li>
                <li id="notice-add" class="nav-item">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_noticeAdd')">
                        <span class="title">添加公告</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="file-manager" class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-briefcase"></i>
                <span class="title">图片管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li id="img-look" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_imgLook')">
                        <span class="title">浏览图片</span>
                    </a>
                </li>
                <li id="img-upload" class="nav-item  ">
                    <a href="###" class="nav-link " onclick="showAtRight('/sunny/redirect_imgUpload')">
                        <span class="title">上传图片</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>