<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boleiot.mapper.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.boleiot.model.Device">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="no" jdbcType="VARCHAR" property="no"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="over_time" jdbcType="BIGINT" property="overTime"/>
        <result column="comments" jdbcType="VARCHAR" property="comments"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="hostname" jdbcType="VARCHAR" property="hostname"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, no, password, name, over_time, comments, longitude, latitude, address, status, hostname, 
    port
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_device
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteDeviceByNo">
        delete from t_device
        where no = #{no}
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.boleiot.model.Device">
    insert into t_device (id, no, password, 
      name, over_time, comments, 
      longitude, latitude, address, 
      status, hostname, port
      )
    values (#{id,jdbcType=BIGINT}, #{no,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{overTime,jdbcType=BIGINT}, #{comments,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{hostname,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.boleiot.model.Device">
        insert into t_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="overTime != null">
                over_time,
            </if>
            <if test="comments != null">
                comments,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="hostname != null">
                hostname,
            </if>
            <if test="port != null">
                port,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="no != null">
                #{no,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="overTime != null">
                #{overTime,jdbcType=BIGINT},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="hostname != null">
                #{hostname,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                #{port,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boleiot.model.Device">
        update t_device
        <set>
            <if test="no != null">
                no = #{no,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="overTime != null">
                over_time = #{overTime,jdbcType=BIGINT},
            </if>
            <if test="comments != null">
                comments = #{comments,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="hostname != null">
                hostname = #{hostname,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                port = #{port,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boleiot.model.Device">
    update t_device
    set no = #{no,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      over_time = #{overTime,jdbcType=BIGINT},
      comments = #{comments,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      hostname = #{hostname,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getDeviceListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_device
        <if test="keyword != null and keyword !=''">
            where name like CONCAT(CONCAT('%',#{keyword,jdbcType=VARCHAR,javaType=String},'%'))
        </if>
        limit #{start},#{size}
    </select>
    <select id="getCount" resultType="Integer">
        select count(1) from t_device
        <if test="keyword != null and keyword !=''">
            where name like CONCAT(CONCAT('%',#{keyword,jdbcType=VARCHAR,javaType=String},'%'))
        </if>
    </select>

    <update id="activate">
        update t_device
        set status = 1,
        hostname = #{hostname},
        port = #{port}
        where no = #{no} and password = #{password}
    </update>

    <select id="selectByHostNameAndPort" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_device
        where hostname = #{hostname} and port = #{port}
    </select>

    <select id="selectByNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_device
        where no = #{no}
    </select>

    <update id="updateDevice">
        update t_device
        set name = #{name},
        password = #{password},
        over_time = #{over_time},
        address = #{address}
        where no = #{no}
    </update>
</mapper>