<div class="page-content" th:fragment="home" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel panel-default shadow">
        <div class="panel-heading">设备概况</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="info-box">
                        <i class="fa fa-microchip" aria-hidden="true"></i>
                        <span class="info-box-title">设备数</span>
                        <span class="info-box-number">5</span>
                        <span class="info-box-href"><a href="">管理设备</a></span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="info-box">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <span class="info-box-title">分组数</span>
                        <span class="info-box-number">0</span>
                        <span class="info-box-href"><a href="">管理分组</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>