<div class="page-content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><a href="">账户中心</a> <i class="fa fa-circle"></i>
            </li>
            <li><span>修改密码</span></li>
        </ul>
    </div>
    <div class="well">
        <div class="input-group col-sm-5 margin-top-20">
            <span class="input-group-addon" for="password_one">新的密码</span>
            <input type="password" class="form-control" id="password_one" name="password_one"/>
        </div>

        <div class="input-group col-sm-5 margin-top-20">
            <span class="input-group-addon" for="password_two">确认密码</span>
            <input type="password" class="form-control" id="password_two" name="password_two"/>
        </div>

        <div class="raw margin-top-20">
            <button type="button" class="btn btn-primary" id="btn_submit">修改密码</button>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#btn_submit').click(function () {
                if ($('#password_one').val() == "") {
                    alert("新密码不能为空！");
                    return;
                }
                if ($('#password_two').val() == "") {
                    alert("确认密码不能为空！");
                    return;
                }
                if ($('#password_one').val() != $('#password_two').val()) {
                    alert("密码不一致！");
                    return;
                }
                modifyPassword($('#password_one').val());
            });
        });
    </script>
</div>