<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/common/common_head::head(首页)"></head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <div th:replace="common/header :: header"/>
</div>
<div class="clearfix"></div>
<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div th:replace="common/sidebar :: sidebar"/>
    </div>
    <div id="content" class="page-content-wrapper">
    </div>
</div>
<div th:replace="common/footer :: footer"/>
<div th:include="common/common_js :: common_js"></div>
<script>
    $(document).ready(function () {
        showAtRight('/boleiot/home');
    });
</script>
</body>
</html>